	

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="{{ site.baseurl }}images/pic01.jpg" alt="" /></a>

							<header>
								<h2 class="alt">This is <strong>Yi Zhang</strong>. 
									<!-- <p class="test">This is a test</p> -->
									<!-- <p class="style-test">This is a style.css</p> -->
							</header>
							<p>I am currently living in Milton Keynes, UK, working as a <b>Front end Developer</b>.<br/></p>

							<footer>
								<!-- <a href="./KevinLawResume.pdf" class="button scrolly">View my Resume</a> -->
							</footer>

						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<!-- <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a> -->
							
						<p>
							I'm a man of curiousity, having a wide range of interests on
							technologies that can change the way we live.
						</p>
						<p>I love bascketball, jogging, reading, and photography.</p>
						<p>I don't do twitter :)</p>	
				

						</div>
					</section>
					
					
					
				<!-- Portfolio -->
					<section id="Blogs" class="three">
						<div class="container">
					
							<header>
								<h2>My Blog</h2>
							</header>
							<!-- <a href="#" class="image featured"><img src="images/computer.jpg" alt="" /></a> -->
							<p>
								I have been updating my blogs since last year, which are some lessons I've learned, as well as some experience I've been through.
							</p>
							<p>
								I am learning a lot of things everyday, blogs are like memos that helps me remind something important and avoid being trapped in the same stupid mistake.
							</p>
							<footer>
								<a href="{{ site.baseurl}}{{ site.blog}}" class="button scrolly">View my Blogs</a>
							</footer>
							
						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
					<!-- <a href="#" class="image featured"><img src="images/notebook.jpg" alt="" /></a> -->
							<p>You can reach me at <br />
							
				<a href="mailto:zhangyi667@gmail.com">zhangyi667@gmail.com</a><br />
				<!-- <a href="https://twitter.com/thatarchguy"> Twitter</a> <br /> -->
				<a href="https://github.com/zhangyi667">Github</a> <br />
				<a href="https://www.linkedin.com/profile/view?id=346250103">Linkedin</a> <br />
							</p>
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
			
			</div>
